{% extends "base.html" %}

{% block main %}
<main>
    <h1>{{ taxonomy.name | capitalize }}</h1>
    <div class="tags">
        {%- set tags = get_taxonomy(kind="tags", lang=lang) %}
        {%- set_global tag_list = [] %}
        {%- for tag in tags.items %}
            {%- set count = tag.pages | length %}
            {%- set tag_data = [count, tag.name, tag.permalink] %}
            {%- set_global tag_list = tag_list | concat(with=[tag_data]) %}
        {%- endfor %}
        {%- for tag in tag_list | sort(attribute="0") | reverse %}
        <a href="{{ tag[2] }}" class="tag-item">#{{ tag[1] }} <span class="tag-count">({{ tag[0] }})</span></a>
        {%- endfor %}
    </div>
</main>
{% endblock %}
